<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Maybe...Write</title>
    {%load static %}
    <link rel="stylesheet" href="{% static 'sample.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <h1>Maybe...Write</h1>
            <nav>
                <a href="/index/">Home</a>
                <a href="/my-creation/">My Creations</a>
                <a href="/true-writers/">True Writers</a>
                <a href="/about/">About</a>
                <a href="/reviews/">Reviews</a>
            </nav>
        </div>
    </header>

    <section class="hero">
        <div class="logo" ><img src="{% static 'photo.png' %}" alt="logo"></div>
        <div class="hero-text">
            <h2>WHERE WORDS MATTERS–<br> Poems, Stories, Shayari & More</h2>
            <p>Read heartfelt writings from Lekhani and the world’s great writers.</p>
        </div>
    </section>

    <section class="featured">
        <h3>Featured Author: <span>Lekhani</span></h3>
        <div class="cards">
            <div class="card">
                <h4>Memorable stories</h4>
                  <p>Every person carries a thousand stories within...</p>
                
                <a href="/kahani/">Read More</a>
            </div>
              <div class="card">
                <h4>Fleeting Thoughts</h4>
                <p>In shadow deep, where silence lives,I find my thoughts are like clouds carried with breeze ...</p>
                <a href="/thoughts/">Read More</a>
            </div>
            <div class="card">
                <h4>Essay</h4>
                <p>  It is not just words on papers,it's a reflection of thoughts,emotions and imagination captured forever...</p>
                <a href="/essay/">Read More</a>
            </div>
            
        </div>
    </section>

    <section class="curated">
        <h3>Curated from Great Minds</h3>
        <div class="cards">
            <div class="card">
                <h4>The Last Lesson</h4>
                <p>by Alphonse Daudet</p>
                <a href="/last/">Read More</a>
            </div>
            <div class="card">
                <h4>Lost Spring</h4>
                <p>by Anees Jung</p>
                <a href="/lost/">Read More</a>
            </div>
            <div class="card">
                <h4>Kanyadaan</h4>
                <p>by Rituraaz</p>
                <a href="/poem/">Read More</a>
            </div>
        </div>
    </section>
    <section class="categories">
    <h3>Explore by Category</h3>
    <div class="category-cards">
        <div class="category-card">
            <h4>Stories</h4>
                   <p>Little moments often Create the most memorable stories...</p>
          
            <a href="/katha/">View Stories</a>
        </div>
        <div class="category-card">
            <h4>Poems</h4>
            <p>Beautiful phrase that touch the soul and stir emotions...</p>
            <a href="/kavitas/">View Poems</a>
        </div>
        <div class="category-card">
            <h4>Fictions</h4>
            <p>Imaginative worlds and characters brought to life.</p>
            <a href="/imagination/">View Fictions</a>
        </div>
        <div class="category-card">
            <h4>Shayari</h4>
            <p>Heartfelt expressions in the rhythm of Shayari.</p>
            <a href="/shayari/">View Shayari</a>
        </div>
    </div>
</section>

    <footer>
         <p>&copy; 2025 Maybe...Write. Created by Lekhani. “A reader lives a thousand lives...”</p>
    </footer>
</body>
</html>


